@use "./themes/blue.scss";
@use "./themes/pink.scss";
@use "./global";
@use "./reset";

body {
    font: var(--font-m);
    min-height: 100vh;
    background: var(--white);
    color: var(--black);

}